.card {
    width: fit-content;
    background-color: #f8f8ff  ;
    border-radius: 5%;
    
}
.things{
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bolder;
}

.Itemlist-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.ocult {
    visibility: hidden;
}